.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 2rem;
}
.grid > div {
  padding: 1.5rem;
  border-radius: 1rem;
  cursor: pointer;
}
.group {
  background: #ede7f6;
}